/* base */
:root {
	font-size: 18px;

	/*h1, h2, h3, h4, h5, h6 {
		font-family: sans-serif;
	}
	*/
	font-family: sans-serif;
	background: var(--surface-primary);
	color: var(--text-surface-primary);
}
/* vgm */
/* :root { 
	--color-primary: #023876;
	--text-primary: white;

	--color-secondary: #cccccc;
	--text-secondary: black;

	--surface-primary: white;
	--text-surface-primary: black;
	--surface-secondary: #023876;
	--text-surface-secondary: white;
} */

/* hawkeye */
:root { 
	--color-primary: #0153A4;
	--text-primary: white;

	--color-secondary: #fe6100;
	--text-secondary: black;

	--surface-primary: white;
	--text-surface-primary: black;
	--surface-secondary: #0153A4;
	--text-surface-secondary: white;
}
/* heartland  */
/* :root { 
	--color-primary: #377175;
	--text-primary: white;

	--color-secondary: #99b6b2;
	--text-secondary: black;

	--surface-primary: white;
	--text-surface-primary: black;
	--surface-secondary: #B8D5E7;
	--text-surface-secondary: white;
} */



/* jason */
/* :root { 
	--color-primary: #f15405;
	--text-primary: white;

	--color-secondary: #cccccc;
	--text-secondary: black;

	--surface-primary: white;
	--text-surface-primary: black;
	--surface-secondary: #f15405;
	--text-surface-secondary: white;
} */

a {
	text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
	[style*='--tag'] {
		view-transition-name: var(--tag);
	}
	/* ::view-transition-group(root) {
		animation-duration: 2s;
	} */
}
